body {
    margin: 0;
    padding: 0;

}

.cabeçalho {
    padding: 20px;
    background-color: #0099CC;
    color: white;
    text-align: center;
    line-height: 10px;
    border-bottom: 5px solid #0059B3;
}

.centralizar {
    text-align: center;
}

.titulo {
    color: #0099CC;
}

.linha {
    border: 2px solid #0059B3;
    margin-left: 100px;
    margin-right: 100px;
}

.icone {
    max-width: 50px;
    position: absolute;
    margin-top: -10px;
    margin-left: 10px;

}

.titulo2 {
    color: #0099CC;
    font-size: 20px;
}

.espaçamento {
    line-height: 2px;
    margin-top: 40px;
}

.cinza {
    color: #727272;
}

.avatar img {
    max-width: 150px;
    border-radius: 50%;
    border: 6px solid #0059B3;
    margin-top: -120px;
    margin-left: 200px;
    position: absolute;
}

.linha-1 {
    height: 10px;
    background-color: #0059B3;

}

.linha-2 {
    height: 50px;
    background-color: #0099CC;

}